/* Reset CSS */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("cat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed, scroll;
}

h1 {
    margin: 10;
    font-size: 7vh;
    color: black;
    background-color: rgb(255, 255, 255, 0.2);
    text-align: center;
}

nav {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 20;
}

.liens ol {
    list-style-type: none;
    padding-left: 0;
    background-color: rgb(255, 255, 255, 0.2);
}

.lien {
    display: inline-block;
    font-weight: bold;
}

.lien a::after {
    display: inline-block;
    color: black;
    content: ">";
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

button {
    font-size: 4vh;
    height: 400px;
    width: 400px;
    outline: none;
    border: none;
    background: rgb(255, 255, 255, 0.3);
    color: white;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    transition: background .2s ease-in-out;
    margin-left: 180;
    margin-right: 180;
    margin-bottom: 10;
}

button:hover {
    background: rgb(255, 255, 255, 0.5);
    color:black;
}

.A {
    text-align: center;
    justify-content: center;
    justify-content: space-between;
}

.B {
    text-align: center;
    justify-content: center;
    justify-content: space-between;
}

.C {
    text-align: center;
    justify-content: center;
    justify-content: space-between;
}