/*Reset CSS*/

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(cat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed, scroll;
}

h1 {
    margin: 10;
    font-size: 7vh;
    color: black;
    background-color: rgb(255, 255, 255, 0.2);
    text-align: center;
}

nav {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 20;
}

.liens ol {
    list-style-type: none;
    padding-left: 0;
    background-color: rgb(255, 255, 255, 0.2);
}

.lien {
    display: inline-block;
    font-weight: bold;
}

.lien a::after {
    display: inline-block;
    color: black;
    content: ">";
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

object {
    width:1000px;
    height:800px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: flex;
    margin-top: 2vh;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;  
    border: none;
    background: rgb(255,255,255,0.3);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background .2 ease-in-out;
}