/*Reset CSS*/

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image:url("cat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed,scroll;
}
